html, body {
  margin:   0px;
  padding:  0px;
  font-family: "Arial";
  font-weight: 100;
}

nav{
  padding:    0;
  margin:     0;
  background: #000;
  color:      #FFF;
}

nav h2{
  margin: 0;
  display: inline;
}

nav a{
  color:    #fff;
  display:  inline-block;
}

table{
  width: 80%;
  margin: 0 auto;
}

table th{
  background: #ccc;
}

table tr:nth-child(odd){
  background: #fafafa;
}