{{#view "layouts/emailbase"}}

  {{full-row colspan=3 utms=utmsAlias}}

  {{triple-tile utms=utmsAlias}}

  <tr>
    <td colspan="3">
      <table width="100%">
        {{double-tile utms=utmsAlias}}
      </table>
    </td>
  </tr>

  {{full-row colspan=3 utms=utmsAlias}}

{{/view}}
