{{#view "layouts/emailbase"}}

  {{feature-row colspan=3}}

  {{triple-tile}}

  <tr>
    <td colspan="3">
      <table width="100%">
        {{double-tile}}
      </table>
    </td>
  </tr>

  {{feature-row colspan=3}}

{{/view}}
