<h1>LOGIN</h1>
<form {{action "authenticate" on="submit"}}>
<div>
  <p>Email:</p>
  {{input type="text" name="email" id="identification" value=email}}
</div>
<div>
  <p>Password:</p>
  {{input type="password" name="password" id="password" value=password}}
</div>
<div>
  <button type="submit">Login!</button>
</div>
</form>