<h1>Signup</h1>

<form {{action "createNewAccount" on="submit"}}>
<div>
  <p>Email:</p>
  {{input type="text" name="email" id="identification" value=email}}
</div>
<div>
  <p>Password:</p>
  {{input type="password" name="password" id="password" value=password}}
</div>
<div>
  <button class="signupbutton" type="submit">Signup!</button>
</div>  
</form>