<div class="template-nav">
  <h2 id='title'>Pick A Template</h2>
  <ul>
    <li>{{#link-to "builds.build" "a" activeClass="active"}}The Rina{{/link-to}}</li>
    <li>{{#link-to "builds.build" "b" activeClass="active"}}The Jeff{{/link-to}}</li>
    <li>{{#link-to "builds.build" "c" activeClass="active"}}The Liam{{/link-to}}</li>
  </ul>
</div>
<div id="email-output">
  {{outlet}}
</div>

{{#if showingHtml}}
<div class="html-output">
  <a href="#" {{action "closeModal"}} class="close-modal">X</a>
  {{outlet "html"}}
</div>
{{/if}}
