<div class="template-nav">
<h2 id='title'>Pick A Template</h2>
{{#link-to "builds.build" "a"}}Template A{{/link-to}}
{{#link-to "builds.build" "b"}}Template B{{/link-to}}
{{#link-to "builds.build" "c"}}Template C{{/link-to}}
</div>
<div id="email-output">
  {{outlet}}
</div>
