html, body {
  margin: 20px;
}

.chart-container{
  margin: 20px 0;
  padding: 20px;
}

.chart-container rect {
  /*fill: rgba(0,0,0,.4);*/
}

.chart-container text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
