<div>
  <div>{{v-input classNames="spec-fn" value=firstName name="firstName" ctrlr=controller}}</div>
  {{!-- <div>{{v-input type="text" classNames="spec-ln" value=lastName name="lastName" model=model}}</div> --}}
  <button class="spec-submit" {{bind-attr disabled=isInvalid}} {{action "edit"}}>Submit</button>
</div>