<div>
  <div>{{v-input    classNames="spec-fn" value=firstName name="firstName" ctrlr=controller}}</div>
  <div>{{v-textarea classNames="spec-ln" value=lastName  name="lastName" ctrlr=controller}}</div>
  <button class="spec-submit" {{bind-attr disabled=isInvalid}} {{action "edit"}}>Submit</button>
</div>