<div>
  <div>{{v-input classNames="spec-fn" value=first_name name="first_name" model=model}}</div>
  <div>{{input type="text" classNames="spec-ln" value=last_name}}</div>
  <button class="spec-submit" {{bind-attr disabled=isInvalid}} {{action "edit"}}>Submit</button>
</div>