.outter-table{
  margin: 30px auto 0 auto;
}

a.add-article{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #242424;
  font-size: 14pt;
  font-weight: bold;
  text-transform: uppercase;
}

.embed-input{
  width: 95%;
  /*margin: 0 auto;*/
  font-weight: 100;
  font-size: 14pt;
  padding: 5px;
  display: block;
  border: #ccc 1px solid;
}

.is-feature .embed-input{
  width: 98%;
}

.double-tile td:nth-of-type(2) input{
  float: right;
}

.double-tile td:nth-of-type(2) input :after{
  content: '';
  display: block;
  clear: both;
}

td{
  /*background-color: #eee;*/
}

.template-nav{
  text-align: center;
}
