html, body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  width: 100%;
  height: 100%;
}

.full-height{
  height: 100%;
}

.email-table{
  max-width: 600px;
  width: 100%;
}

.outter-table{
  margin: 30px auto 0 auto;
}

a.add-article{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #242424;
  font-size: 14pt;
  font-weight: bold;
  text-transform: uppercase;
}

.embed-input{
  width: 95%;
  /*margin: 0 auto;*/
  font-weight: 100;
  font-size: 14pt;
  padding: 5px;
  display: block;
  border: #ccc 1px solid;
}

.is-feature .embed-input{
  width: 98%;
}

.double-tile td:nth-of-type(2) input{
  float: right;
}

.double-tile td:nth-of-type(2) input :after{
  content: '';
  display: block;
  clear: both;
}

td{
  /*background-color: #eee;*/
}

.template-nav{
  background: #eee;
  text-align: center;
  /*display: table;*/
  width: 100%;
  padding: 30px 0;
}
.template-nav h2{
  /*display: table-cell;*/
  display: inline;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #aaa;
  font-weight: 100;
  text-transform: uppercase;
  width: 150px;
}

.template-nav ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline;
}

.template-nav ul li{
  display: inline;
}

.template-nav ul li a{
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  color: #222;
  font-size: 12px;
}

.template-nav ul li a.active{
  border-bottom: #000 2px solid;
}
#email-output{
  height: 100%;
}
#email-wrapper{ width: 100%; height: 100%; display: table;}
#email-wrapper .left-pane{
  background: #ddd;
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
#email-wrapper .left-pane h1{
  font-weight: 100;
  font-family: "Helvetica Neue";
  letter-spacing: 1px;
}
.left-pane .title-entry{
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: #ccc 1px solid;
  text-align: center;
}
.left-pane .title-entry input{
  width: 90%;
  padding: 5px;
  border: none;
  margin-bottom: 10px;
}

.left-pane .title-entry textarea{
  width: 90%;
  border: none;
  background: #fff;
  padding: 5px;
  min-height: 100px;
}


.left-pane .html-printout{
  text-align: center;
}
.left-pane .html-printout button{
  background: #159e4a;
  border: none;
  color: #fff;
  padding: 10px 25px;
  margin: 10px auto 20px auto;
}
.left-pane .html-printout textarea{
  width: 90%;
  border: none;
  background: #fff;
  height: 350px;
}

#email-content{
  display: table-cell;
}
