<td>

  <table width="100%" style="text-align: left;">
    <tr>
      <td style="vertical-align: top;" width="50%">{{embed-clicker feature=false utms=utms imageWidth=300 fontColorBinding="view.fontColor"}}</td>
      <td style="vertical-align: top;" width="50%">{{embed-clicker feature=false utms=utms imageWidth=300 fontColorBinding="view.fontColor"}}</td>
    </tr>
  </table>
</td>
