<tr>
  <td width="33%" height="225px" style="vertical-align: top;">
    {{embed-clicker feature=false}}
  </td>
  <td width="33%" height="225px" style="vertical-align: top;">
    {{embed-clicker feature=false}}
  </td>
  <td width="33%" height="225px" style="vertical-align: top;">
    {{embed-clicker feature=false}}
  </td>
</tr>
