<td width="100%">
  <table with="100%" style="text-align: left;">
    <tr>
      <td style="vertical-align: top; width: 33.333%;">{{embed-clicker feature=false utms=utms imageWidth=200 fontColorBinding="fontColor"}}</td>
      <td style="vertical-align: top; width: 33.333%;">{{embed-clicker feature=false utms=utms imageWidth=200 fontColorBinding="fontColor"}}</td>
      <td style="vertical-align: top; width: 33.333%;">{{embed-clicker feature=false utms=utms imageWidth=200 fontColorBinding="fontColor"}}</td>
    </tr>
  </table>
</td>
