<tr class="triple-tile">
  <td style="vertical-align: top;">{{embed-clicker feature=false utms=utms}}</td>
  <td style="vertical-align: top;">{{embed-clicker feature=false utms=utms}}</td>
  <td style="vertical-align: top;">{{embed-clicker feature=false utms=utms}}</td>
</tr>
