<tr class="triple-tile">
  <td style="vertical-align: top;">{{embed-clicker feature=false}}</td>
  <td style="vertical-align: top;">{{embed-clicker feature=false}}</td>
  <td style="vertical-align: top;">{{embed-clicker feature=false}}</td>
</tr>
