table.default-article
  width: 100%
  padding-bottom: 40px

  tr
    td
      width: 100%

    &.image-row

      td
        padding-bottom: 10px

        img
          width: 100%


h2.article-heading
  text-align: left
  font-weight: bold
  line-height: 25px
  color: #000
  padding: 10px 10px 0 0px
  margin: 0
  font-size: 19px

small.byline
  text-align: left
  padding: 10px 10px 0 0px
  font-size: 13px
  font-weight: regular
  line-height: 20px
  color: #586d7b

p.description
  font-size: 13px
  font-weight: regular
  line-height: 20px
  color: #586d7b
  padding: 10px 10px 0 0
