table.smartphone-block-article
  width: 100%
  padding-bottom: 20px

  td.image-cell
    width: 33%
    background-size: cover
    background-position: center center
    backgroud-repeat: no-repeat

  td.text-cell
    padding-left: 20px
