<table width="100%;" style="width: 100%; padding-bottom: 40px;" {{action "toggle"}}>
  <tr>
    <td class="default-image-container" width="100%">
      {{partial "layouts/partials/wrapped-image"}}
    </td>
  </tr>
  <tr>
    <td width="100%" style="padding: 10px 0 0 0;">
      {{partial "layouts/partials/wrapped-heading"}}
    </td>
  </tr>
  <tr>
    <td width="100%;">
      {{partial "layouts/partials/description-block"}}
    </td>
  </tr>
</table>
