.cta-button
  background-color: $cta-bg-color   !important
  color:            $cta-font-color !important

.outliner
  background:     $sidebar-bg-color !important
  border-radius:  0px !important
  color:          $sidebar-font-color !important
  border:         $sidebar-font-color !important
  letter-spacing: 1px
  font-weight:    100 !important