.post-detail-item.feature-detail
  .post-block
    .inner
      background: transparent

      header
        background: transparent
        border-bottom: none

      .feature-header
        border-bottom: rgba(0,0,0,.1) 1px solid
        i.icon
          color: #ccc
        span
          padding-bottom: 20px
          padding-right:  40px

