header
  // height: $header-height

  .column
    vertical-align: middle !important

  .project-selector
    text-transform: uppercase

    i
      margin-left: 10px

  .right.menu
    .ui
      box-shadow: none !important

      .menu > .item
        background: #000
        background: #eee

        &.active
          background-color: $cta-bg-color !important
          color:      $cta-font-color