.listing-region
  .listing-item
    padding: 2rem 0 !important

    h4
      margin:         0 !important
      line-height:    1
      padding-bottom: 1rem
    
    abstract
      color:     #999
      font-size: 12px

    .article-image-container
      // background: blue
      .square-image
        background: green
        width:  100% !important
        height: 100% !important

    &.active
      // padding-bottom: 10px !important
      // background: #eee
      box-shadow: 0 1px 0 $active-color !important

      .label
        background-color: $active-color !important
        color: #fff