.ui.secondary.pointing.menu
  border-bottom: #eee 1px solid !important

.ui.secondary.pointing.menu > .menu > .item.active, .ui.secondary.pointing.menu > .item.active
  border-color: $active-color !important
  border-width: 1px !important

.app-menu
  h1
    color: #fff