.column.flat
  .post-block
    .inner
      background: #fafafa !important

    header.table
      background: #fafafa

      .table-cell
        &.left
          width: 100%
        &.right
          width: 0%

  .column-header
    color: darken(#fafafa, 25%)

.column
  .column-header
    padding: 20px 0
    text-align: center

.reply.composer-region
  padding-top: 15%

  .editable
    &:after
      width: 100%
      text-align: center