$header-height        = auto
$main-font-family     = "europa"
$net-height           = unquote('calc(100%)')

$active-color         = #5eaede
$accent-color         = #5eaede

$cta-bg-color         = $active-color
$cta-font-color       = #fff;

$sidebar-bg-color     = #03020e
$sidebar-font-color   = #f3eee6