{{input type="text" valueBinding=newTitle name="title" placeholder="Enter a title"}}
{{input type="text" valueBinding=newRating name="rating" placeholder="Enter a rating"}}
<button {{action "newSong"}}>Create</button>
